/* Blog Section */
/****************/
/* Detail Blog */
section.hero
{
    height: auto;
    background-image: none!important;
}
section.detailBlog .image
{
    width: 100%;
    height: 280px;
}
/****************/