/* Blog Section */
/****************/
/* Detail Blog */
section.hero
{
    height: auto;
    background-image: none!important;
}
section.detailBlog .image
{
    height: 280px;
    background-color: grey;
}
/****************/