.vertical-line
{
    width: 1px;
    height: 40px;
    background-color: #7676B2;
}
.circlePhoto
{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Blog Section */
section.blog .blog-card
{
    border-radius: 20px!important;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 24px 0px #7676B23D;
    overflow: hidden;
}
/****************/
/* Detail Blog */
section.hero
{
    height: auto;
    background-image: none!important;
}
.blog-img 
{
    max-width: 100%;
    overflow: hidden;
}

section.detailBlog .image 
{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
/****************/

/* Desktop View */
@media (max-width: 1400px) { 

    /* Blog Section */
    section.blog .blog-card
    {
        max-width: 360px;
        max-height: 550px;
    }
    section.blog .blog-card img {
        width: 100%; 
        height: auto;
        display: block; 
    }
}